:root {
	--light: #fdf8e5;
  --text: #FFFFFF;
  --link: #CCCCCC;
  --highlight: #0000DD;
}
body {
  background-color: var(--light);
}

h1 {
  color: var(--highlight);
}

.navbar--list {
  display:grid;
  flex-direction: row;
  row-gap: 20px;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly;
}

.navbar--list--item {
  list-style: none;
  background-color: var(--highlight);
  margin: auto;
  padding: 10px 20px;
  border-radius: 5%;
}

a {
  color: var(--link);
}

.main--content {
  display: flex;
  justify-content: center;
  margin: 20px;
}

