@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto:wght@300;500&display=swap');
:root {
	--light: #fdf8e5;
  --dark: #330f0f;
  --link: #CCCCCC;
  --highlight: #08084f;
  --active: #FF0000;
}
body {
  font-size: 100%;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  margin: 20px 50px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-kerning: 0.5em;
}

h1 {
  color: var(--highlight);
  font-weight: 500;
  font-size: 200%;
}

.navbar {
  margin: 20px;
  border: var(--dark) solid 1px;

}

.navbar--list {
  display:grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 33% 33% 33%;
}

.navbar--list--item {
  list-style: none;
  background-color: var(--highlight);
  margin: auto;
  padding: 10px 20px;
}

.active {
  border-bottom: solid var(--active) 1px;
  color: var(--active);
}

a {
  color: var(--link);
}

.main--content {
  flex-grow: 5;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.main--content p {
  text-align: left;
  margin: 20px;
}

.misdemeanour-table {
  margin: auto;
  width: 80%;
}

footer {
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: var(--dark);
}



