@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto:wght@300;500&display=swap');
:root {
	--light: #D9DBBC;
  --dark: #20331F;
  --link: #607744;
  --highlight: #FCDDBC;
  --active: #5A352A;
}
body {
  font-size: 100%;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  margin: 20px 50px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-kerning: 0.5em;
}

h1 {
  color: var(--dark);
  font-weight: 500;
  font-size: 200%;
}

.navbar {
  margin: auto;
  border: var(--dark) solid 1px;
  border-radius: 5px;
}

.navbar--list {
  display:grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 33% 33% 33%;
}

.navbar--list--item {
  list-style: none;
  background-color: var(--highlight);
  margin: auto;
  padding: 10px 20px;
  border: solid 1px var(--dark);
  border-radius: 5px;
}

.active {
  border-bottom: solid var(--active) 1px;
  color: var(--active);
}

a {
  color: var(--link);
}

.main--content {
  flex-grow: 5;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.main--content p {
  text-align: left;
  margin: 20px;
}

.misdemeanour-table {
  margin: auto;
  width: 80%;
  border: 2px solid var(--dark);
  padding: 10px;
  background-color: var(--highlight);
  border-radius: 5px;
}

.misdemeanour-table--caption {
  padding: 15px;

}

footer {
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: var(--dark);
}

.table-row--image {
  width: 100px;
  height: 60px;
  border: solid 2px var(--dark);
  margin: 5px;
}

.filter--label {
  padding: 15px 2px;
  margin: 15px 2px;
  font-weight: 500;
}

.filter--select {
  padding: 5px 2px;
  margin: 15px 2px;
}